.aws-btn {

    --button-default-height: 63px;
    --button-default-font-size: 16px;
    --button-default-border-radius: 5px;
    --button-horizontal-padding: 26px;
    --button-raise-level: 4px;
    --button-hover-pressure: 3;
    --transform-speed: 0.075s;

    --button-primary-color: #11B98E;
    --button-primary-color-dark: #087759;
    --button-primary-color-light: #FFFF;
    --button-primary-color-hover: #0EA57D;
    --button-primary-border: 0px solid #054e3b;

    --button-secondary-color: #FF9E7D;
    --button-secondary-color-dark: #D97A56;
    --button-secondary-color-light: #FFE8E0;
    --button-secondary-color-hover: #FF8A5F;
    --button-secondary-border: 0px solid #D97A56;
}